<!DOCTYPE html>
<html>
<head>
  <title>Directorio</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  
    <h1>Directorio Pyme</h1>
    <ul>
    {% for message in get_flashed_messages() %}
      <li>{{ message }}</li>
    {% endfor %}
     </ul>

    {% block body %}{% endblock %}


    <ul>
      {% for entry in entries %}
        <li>
          <h2>{{ entry.nombre }}</h2>
           {%if entry.productores %}
           
           <table>
            {% for productor in entry.productores %}
              <tr> 
                <td>{{ productor.nombre_fantasia }}</td>
                <td>{{ productor.website|safe }}</td>
              </tr>
            {% endfor %}
            </table>
            {%endif%}
            
      {% else %}
        <li>No entries yet. Add some!</li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>