{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}

 <h1>Login</h1>
<form class="form" action="{{ url_for('bp_auth.login', next=request.args.get('next')) }}" method="POST" role="form">
	{{ form.hidden_tag()  }}
	{% for field in form if field.type not in ["HiddenField", "CSRFTokenField"] %}
	{{ render_field(field) }}
	{% endfor %}

	<input class="btn btn-primary" type="submit" value="Enviar">

</form>
<hr>
<p>New User? <a href="{{ url_for('bp_auth.register') }}">Click to Register!</a></p>

{% endblock content %}